<div class="avatar-image-input-box">
    <input accept=".gif,.bmp,.jpg,.jpeg,.png,.svg"
           type="file"
           ng-model="$ctrl.avatarUrl"
           onchange="angular.element(this).scope().uploadImage(this.files)" />
</div>
<button type="button"
        class="avatar-image-button btn btn-default btn-s"
        onclick="$(this).closest('avatar-uploader').find('input[type=\'file\']').click()">
    <span class="glyphicon glyphicon-upload"></span> аватар
</button>

<span class="error-message" ng-if="$ctrl.isNotValidType">
    Недопустимый тип файла.
</span>
<span class="error-message" ng-if="$ctrl.isNotValidSize">
    Недопустимый размер. Превышено {{$ctrl.maxAvatarKBSize}}КБ.
</span>