
<div class="page-header jumbotron">
    <h1>Сотрудники</h1>
    <h2>отдела «{{$ctrl.department.name}}»</h2>
</div>

<div class="employee-navbar">
    <nav class="navbar navbar-default container employee-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#!/departments/">Отделы</a>
        </div>
    </nav>
</div>

<div class="employee-catalog container">
    <h3 class="official-info-header" ng-if="!$ctrl.employeeList.length">Отдел пуст</h3>
    <ul>
        <li class="media employee-item col-lg-4 col-md-6 col-sm-6" ng-repeat="employee in $ctrl.employeeList">
            <!-- <div alt="{{employee.name}}"
                 style="width: 150px; height:150px;"
                 ng-style="{'background-image' : 'url(\'' + employee.photo.data + '\')'}">
            </div> -->
            <div class="media-left">
                <a href="#!/employees/{{employee.id}}">
                    <img class="avatar-image" data-ng-src="{{employee.photo}}">
                </a>
            </div>
            <div class="media-body">
                <h4>{{employee.name}}</h4>
                <p>
                    <span class="field-hint">Телефон:</span> {{employee.phone}}
                </p>
            </div>
            <div class="media-right">
                <a href="#!/employees/{{employee.id}}"
                   class="btn btn-default pull-right" >
                    <div class="glyphicon glyphicon-file"></div>
                </a>
            </div>
        </li>
    </ul>
</div>
<footer class="footer">
</footer>