


<div class="page-header jumbotron">
    <h1 ng-if="$ctrl.employee">
        Сотрудник
    </h1>
    <h1 ng-if="!$ctrl.employee">
        Нет такого сотрудника
    </h1>
</div>

<div class="employee-navbar">
    <nav class="navbar navbar-default container employee-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#!/departments/">
                Отделы
            </a>
            <a ng-if="$ctrl.department" class="navbar-brand" href="#!/departments/{{$ctrl.department.id}}/employees">
                {{$ctrl.department.name}}
            </a>
        </div>
    </nav>
</div>

<div ng-if="$ctrl.employee" class="employee-catalog container">
    <div class="media employee-item" ng-if="$ctrl.employee">
        <div class="media-left avatar">
            <img class="avatar-image" data-ng-src="{{ $ctrl.photoData }}">
            <avatar-uploader on-new-avatar="$ctrl.setNewPhoto(avatar)"></avatar-uploader>
        </div>
        <div class="media-body">
            <h4>{{ $ctrl.employee.name }}</h4>
            <p>
                <span class="field-hint">Телефон:</span> {{ $ctrl.employee.phone }}
            </p>
            <p>
                <span class="field-hint">Отдел:</span> {{ $ctrl.department.name }}
            </p>
        </div>
    </div>
</div>
<footer class="footer">
</footer>

