
<div class="page-header jumbotron">
    <div ng-if="$ctrl.department">
        <h1>Сотрудники</h1>
        <h2>отдела «{{$ctrl.department.name}}»</h2>
    </div>
    <h2 ng-if="!$ctrl.department">
        Нет такого отдела
    </h2>
</div>

<div class="employee-navbar">
    <nav class="navbar navbar-default container employee-navbar department-list-container">
        <div class="container-fluid">
            <a class="navbar-brand" href="#!/departments/">Отделы</a>
        </div>
    </nav>
</div>

<div ng-if="$ctrl.department" class="employee-catalog container department-list-container">
    <h3 class="official-info-header" ng-if="!$ctrl.employeeList.length">Отдел пуст</h3>
    <h3 class="employee-count">{{ $ctrl.employeeList.length }} сотрудник{{ ($ctrl.employeeList.length > 10 && $ctrl.employeeList.length < 19) ? 'ов' : {
            0 : 'ов',
            1 : '',
            2 : 'а',
            3 : 'а',
            4 : 'а',
            5 : 'ов',
            6 : 'ов',
            7 : 'ов',
            8 : 'ов',
            9 : 'ов',
        }[$ctrl.employeeList.length % 10] }}:</h3>
    <ul>
        <li class="media employee-item" ng-repeat="employee in $ctrl.employeeList">
            <div class="media-left">
                <a href="#!/employees/{{employee.id}}"
                   class="btn btn-default pull-right" >
                    <div class="glyphicon glyphicon-file"></div>
                </a>
            </div>
            <div class="media-body">
                <h4>{{employee.name}}</h4>
            </div>
        </li>
    </ul>
</div>
<footer class="footer">
</footer>